*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("images/stemwijzer.png");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

.container{
	width:  67vw;
}
.startHead{
	width: 60%;
}
.voting{
	padding:  5vh 2vw;
}